.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--gray_background);
  padding: 15px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #3c3c3c;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification:hover {
  font-size: 18px;
  transition: font-size 0.25s ease-in-out;
}
.nav__link:hover {
  color: var(--yellow_2);
  transition: color 0.25s ease-in-out;
  transition-delay: color 2s ease-in-out;
  font-size: 18px;
  transition: font-size 0.25s ease-in-out;
}
.nav__elipse {
  background-color: rgb(252, 77, 77);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
}
